<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <div>
            <h1 class="header"><%= @campaign.name %> - <%= @seshion.start_time.to_s(:month_day) %></h1>
            <%= link_to "< Back to all sessions", campaign_seshions_path(@campaign) %>
        </div>
        <div>
            <%= link_to "Edit Session", edit_campaign_seshion_path(@campaign, @seshion), class: "btn" if @campaign.gm == current_user%>
        </div>
    </div>
</div>
<div class="bg-primary-100 flex flex-col px-8 pb-4" id="description">
    <div class="py-8 flex flex-col">
        <h2 class="header mb-2">Seshion Notes</h2>
        <div class="py-2">
            <%= render partial: 'notes/form', locals: {commentable: @seshion, path: campaign_seshion_notes_path(@campaign, @seshion, @note) } %>
        </div>
        <% @notes.each do |note| %>
            <div><%= note.content %> <%= link_to "Edit", edit_note_path(note) %></div>
        <% end %>
    </div>
</div>