<div class="container mx-auto mt-4 flex">

    <div class="w-2/3">
        <div class="bg-primary-100 flex flex-col px-8 pb-4" id="description">
            <div class="py-8 flex justify-between items-center">
                <h2 class="header mb-2"><%= @campaign.name %></h2>
                <%= edit_or_join_campaign %>

            </div>
                <p><%= @campaign.description %></p>
            <div class="grid grid-cols-3 gap-2 mb-4">
                <p><%= @campaign.visibility %> Campaign</p>
            </div>
            <div class="flex justify-end">
                <p class="btn">GM: <%= @campaign.gm.username %></p>
            </div>
        </div>
        <div class="bg-primary-100 flex flex-col px-8 pb-4" id="description">
            <div class="py-8 flex flex-col">
                <h2 class="header mb-2">Campaign Notes</h2>
                <div class="py-2">
                    <%= render partial: 'notes/form', locals: {commentable: @campaign} %>
                </div>
                <% @notes.each do |note| %>
                    <div><%= note.content %></div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="bg-primary-200 h-screen w-1/3">
        <div class="px-6 py-4" id="players">
            <h3 class="text-2xl font-semibold">Players</h3>
            <% @campaign.players.each do |player| %>
                <p><%= link_to player.username, user_path(player) %> (<%= link_to character(player).name, campaign_character_path(@campaign, character(player)) %>)</p>
            <% end %>
        </div>
        <div class="px-6 py-4" id="upcoming-sessions">
            <h3 class="text-2xl font-semibold">Upcoming Sessions</h3>
            <div>
                <% @campaign.upcoming_seshions.oldest_to_newest.each do |seshion| %>
                    <div><%= seshion.start_time.to_formatted_s(:month_day_comma_year_time) %></div>
                <% end %>
            </div>
            <%= link_to "View All Sessions", campaign_seshions_path(@campaign), class: "inline-block w-full mt-4 py-2 bg-primary-500 text-center" %>
            <%= link_to "New Session", new_campaign_seshion_path(@campaign), class: "inline-block w-full mt-4 py-2 bg-primary-500 text-center" if @campaign.gm == current_user%>
        </div>
    </div>

</div>